@import "variables.less";
@import "./bootstrap/mixins.less";

h1, h2, h3, h4, h5, h6, legend {
	font-family:'Nunito', sans-serif;
}

header {

	text-align:center;
	color:#b6145a;

	h1 {
		margin:40px auto 20px;
	}

	h2 {
		font-size:16px;
		font-weight:normal;
		letter-spacing:0.1em;
	}

	&.mini {
		position:relative;
		height:100px;

		h1 {
			margin:20px auto 10px;
		}

		&:after {
			position:absolute;
			bottom:0px;
			left:0;

			z-index:-1;
			content:"";

			width:100%;
			height:30px;

	  		#gradient > .vertical(@white, #c6c5c6);
		}
	}
}

#user-menu {

	position:absolute;
	top:10px;
	right:20px;

	z-index:1000;
	.dropdown-toggle {
		font-size:16px;	
		.icon-user {
			margin-top:4px;
		}
	}
}

.home {

	position:relative;

	.signin {		

		p {
			text-align:center;
			margin:20px 0;
			font-size:16px;
		}

		#connect {
			text-align:center;
		}
	}

}

.home-slider {
	margin:auto;
	width:100%;

	&:after {
		position:absolute;
		top:280px;
		left:0;

		z-index:-1;
		content:"";

		width:100%;
		height:170px;

  		#gradient > .vertical(@white, #c6c5c6);
	}
}

.js-slider {

	overflow:hidden;
	position:relative;
	width:100%;
	height:400px;

	margin-bottom:60px;
	margin-top:50px;

	.js-wrapper {

		position: relative;
		z-index:10;

		li {
			list-style:none;
			float:left;		
			width:1200px;
			//visibility:hidden;

			img {
				margin:auto;
			}
		}
	}
}

.slider-nav {

	position:absolute;
	top:240px;
	height:0;
	width:100%;
	min-width:960px;
	
	.js-nav {
		z-index:20;
		position:absolute;
		top:50%;

		display:block;
		background:transparent;

		display: block;
		width:26px;
		height:42px;		

		overflow: hidden;
		text-indent:-9999px;

		cursor: pointer;

		&.prev {
			left:10px;
			right:auto;

			background-image: url("/img/flesh-left.png");
		}

		&.next {
			left:auto;
			right:10px;

			background-image: url("/img/flesh-right.png");
		}
	}

	.js-bullets {

		z-index:20;
		position:relative;
		top:240px;
		left:50%;

		width:400px;
		margin-left:-44px;

		.bullet {

			display:block;
			position:relative;

			float:left;
			width:12px;
			height:13px;

			margin-right:10px;

			background:center center no-repeat url("/img/bullet-vide.png");
			cursor:pointer;

			&.active {
				background-image: url("/img/bullet-plein.png");
			}
		}
	}
}

.my-interests {
	li {
		clear:left;
		line-height:3em;

		img {
			margin-right:10px;
		}
	}
}

.user {

	padding-top:30px;

	.avatar {
		width:90px;
		height:90px;
		overflow:hidden;
		.border-radius(50%);
		margin-right:20px;

		img {
			width:90px;
		}
	}

	p {
		margin-bottom:0;
		margin-top:5px;
	}

	.card {
		min-height:100px;
	}

	.list {
		display:block;
		margin-bottom:20px;

		color:#b2b2b2;
		font-size:16px;
		font-weight:bold;

		border:#b2b2b2 3px dashed;
		text-align:center;
		.border-radius(4px);
		padding:30px 20px;

		.badge {
			height:10px;
			width:10px;
			padding:5px;
			display:inline-block;
			line-height:10px;
			text-align:center;
			margin-right:5px;
			.border-radius(50%);
		}
	}

}

.js-interest {
	display:block;

	.span6 {
		text-align:center;

		h2, h2 label {
			font-size:35px;
			padding-bottom:5px;
			color:#d4145a;
		}

		.note {
			color:#d4145a;
			padding-bottom:10px;
		}

		.text {
			margin-top:10px;
		}


		.list {
			
			li {
				border-bottom:1px solid #8f8f8f;
				padding:20px 0;
				text-align:left;
				margin:auto !important;
				float:none;
			}
		}
	}	

}

.matching {

	margin-top:100px;
	position: relative;
	.box-shadow(0 0 10px 0 #c0c0c0);

	.line {
		clear:both;
		padding-bottom:20px;
		padding-top:20px;
		margin-bottom:2px;
		background:white;

		height:50px;
	}	

	&:after {
		
		content:"";

		position: absolute;
		top:0; left:0;
		z-index:-1;

		width:100%;
		height:100%;

		background:#c6c5c6;
	}

}

.submit.OK {
	display:block;
	margin:20px auto 0;
	height:60px;
	width:60px;

	text-align:center;
	padding:20px;
	font-size:20px;
	line-height:5px;

	.border-radius(50%);
	border:0;

	color:white;
	background:#8f8f8f;
}

footer {

	.transition(opacity 0.7s);

	opacity:0.6;
	margin-bottom:30px;
	margin-top:30px;

	&:hover {
		opacity:1;
	}

}

